<%# **
 * This is all of the references to be made before existing page content.
 * @param? exitSecureSite The exitScript is defined through an object.
 * @param? exitScript If set to true, loads a script that alerts users they are leaving a secure site.
 * @param? displayModal If set to true will display modal otherwise skip to exitURL.
 * @param? exitURL The URL where the users are redirected if they continue.
 * @param? msgBoxHeader The message box title.
 * @param? exitMsg The message to display to the user.
 * @param? cancelMsg Text for Cancel Button
 * @param? yesMsg Text for yes Button
 * @param? exitDomains Domains to not check for secure exit.
 * @param? targetWarning A warning to display to the user that the link will open in a new window
 * @param? displayModalForNewWindow If set to true, will not display modal for links that open in new window
 * @param? jqueryEnv Used to determine location of jQuery files (local / external).
 * @param? cdnEnv Used to switch between qat, nonprod, and prod CDN implementations.
 * @param? webAnalytics Used to determine inclusion of current analytics code.
-%>
<!--[if gte IE 9 | !IE ]><!-->
<script src="<%- (pr.jqueryEnv=='external')? 'https://ajax.googleapis.com/ajax/libs/': wet.builder.environment(pr.cdnEnv) + 'wet-boew/js/' %>jquery/2.2.4/jquery.min.js"<% if (pr.sriEnabled) { %> integrity="<^- sriHash('public/wet/wet-boew/js/jquery/2.2.4/jquery.min.js') ^>" crossorigin="anonymous"<% } %>></script>
<script src="<%- wet.builder.environment(pr.cdnEnv) %>wet-boew/js/wet-boew.min.js"<% if (pr.sriEnabled) { %> integrity="<^- sriHash('public/wet/wet-boew/js/wet-boew.min.js') ^>" crossorigin="anonymous"<% } %>></script>
<!--<![endif]-->
<!--[if lt IE 9]>
<script src="<%- wet.builder.environment(pr.cdnEnv) %>wet-boew/js/ie8-wet-boew2.min.js"></script>
<![endif]-->
<script src="<%- wet.builder.environment(pr.cdnEnv) %>wet-boew/js/theme.min.js"<% if (pr.sriEnabled) { %> integrity="<^- sriHash('public/wet/wet-boew/js/theme.min.js') ^>" crossorigin="anonymous"<% } %>></script>
<%_ if (pr.exitSecureSite != null) { -%>
    <%_ if (pr.exitSecureSite.exitScript == true) { -%>
        <%# This is a placeholder link to trigger the WET exitscript intialization in the event the no external link is present on the page -%>
        <a href="#" id="cdts-exitscript-placeholder-link" hidden class="wb-exitscript cdts-hidden">Exit Link</a>
        <%# When is "setup" mode, we avoid inserting an inline script element to support clients who wnat to use Content-Security-Policy -%>
        <%_ if (wet.utilities.isCDTSSetupMode()) {
            wet.utilities.addSetupCompletitionListener(function() {
                wet.utilities.cdtsApplyExitScriptToLinks(pr.exitSecureSite.displayModal != null? pr.exitSecureSite.displayModal.toString(): 'undefined', pr.exitSecureSite.exitURL != null? pr.exitSecureSite.exitURL: 'undefined', pr.exitSecureSite.exitDomains != null? pr.exitSecureSite.exitDomains: 'undefined', pr.exitSecureSite.exitMsg != null? pr.exitSecureSite.exitMsg: 'undefined', pr.exitSecureSite.yesMsg != null? pr.exitSecureSite.yesMsg: 'undefined', pr.exitSecureSite.cancelMsg != null? pr.exitSecureSite.cancelMsg: 'undefined', pr.exitSecureSite.msgBoxHeader != null? pr.exitSecureSite.msgBoxHeader: 'undefined', pr.exitSecureSite.targetWarning != null? pr.exitSecureSite.targetWarning: 'undefined', pr.exitSecureSite.displayModalForNewWindow != null? pr.exitSecureSite.displayModalForNewWindow.toString(): 'undefined');
            });
        } else { -%>
            <script data-id="exitScript">wet.utilities.cdtsApplyExitScriptToLinks("<%=pr.exitSecureSite.displayModal != null? pr.exitSecureSite.displayModal: 'undefined'%>", "<%-pr.exitSecureSite.exitURL != null? pr.exitSecureSite.exitURL: 'undefined'%>", "<%=pr.exitSecureSite.exitDomains != null? pr.exitSecureSite.exitDomains: 'undefined'%>", "<%=pr.exitSecureSite.exitMsg != null? pr.exitSecureSite.exitMsg: 'undefined'%>", "<%=pr.exitSecureSite.yesMsg != null? pr.exitSecureSite.yesMsg: 'undefined'%>", "<%=pr.exitSecureSite.cancelMsg != null? pr.exitSecureSite.cancelMsg: 'undefined'%>", "<%=pr.exitSecureSite.msgBoxHeader != null? pr.exitSecureSite.msgBoxHeader: 'undefined'%>", "<%=pr.exitSecureSite.targetWarning != null? pr.exitSecureSite.targetWarning: 'undefined'%>", "<%=pr.exitSecureSite.displayModalForNewWindow != null? pr.exitSecureSite.displayModalForNewWindow: 'undefined'%>");</script>
        <%_ } -%>
    <%_ } -%>
<%_ } else if (pr.exitScript == true) { -%>
    <%# This is only for backwards compatibility where a user implements exitscript using parameters instead of an object. -%>
    <a href="#" id="cdts-exitscript-placeholder-link" style="display: none" hidden class="wb-exitscript">Exit Link</a>
    <script data-id="exitScript">wet.utilities.cdtsApplyExitScriptToLinks("<%=pr.displayModal != null? pr.displayModal: 'undefined'%>", "<%-pr.exitURL != null? pr.exitURL: 'undefined'%>", "<%=pr.exitDomains != null? pr.exitDomains: 'undefined'%>", "<%=pr.exitMsg != null? pr.exitMsg: 'undefined'%>", "<%=pr.yesMsg != null? pr.yesMsg: 'undefined'%>", "<%=pr.cancelMsg != null? pr.cancelMsg: 'undefined'%>", "<%=pr.msgBoxHeader != null? pr.msgBoxHeader: 'undefined'%>", "<%=pr.targetWarning != null? pr.targetWarning: 'undefined'%>", "<%=pr.displayModalForNewWindow != null? pr.displayModalForNewWindow: 'undefined'%>");</script>
<%_ } -%>
<%_ if (pr.webAnalytics != null && pr.webAnalytics != false && !wet.utilities.isCDTSSetupMode()) { -%>
    <%# Do NOT add this call in "setup" mode because Adobe's script will be loaded essentially async (https://experienceleague.adobe.com/docs/experience-platform/tags/client-side/asynchronous-deployment.html?lang=en) -%>
    <script>_satellite.pageBottom();</script>
<%_ } -%>
