<%# **
 * This is all of the html to be included before existing page content.
 * @param? search Used to display search.
 * @param? siteMenu Used to display site menu.
 * @param? menuPath path for site menu.
 * @param? lngLinks Links to pages in other languages.
 * @param? showPreContent Used to determine if the precontent space will be displayed.
 * @param? breadcrumbs Used to set custom breadcrumbs.
 * @param? topSecMenu Set to true if you want to use the secondary navigation.
 * @param? subTheme Used to identify the custom subTheme.
 * @param? intranetTitle Used to identify the title of the intranet site.
 * @param? cdnEnv Used to switch between qat, nonprod, and prod CDN implementations.
 * @param? GCToolsModal Used to turn the GCTools links into a modal.
 * @param? customSearch Used to control the custom searches.
 * @param? hidePlaceholderMenu Used to hide the placeholder menu while a custom menu is being loaded
-%>
<%_
// The following parameters are pre-configured for users using a specific sub-theme.
if (pr.subTheme === 'eccc') {
    pr.GCToolsModal = true;
    if (pr.intranetTitle == null) pr.intranetTitle = [{
        "href": "<^- msg('https://intranet.ec.gc.ca/default.asp?lang=En') ^>",
        "text": " Intranet",
        "boldText" : "ECCC"
    }];
    if (pr.customSearch == null) pr.customSearch = [{
        "action" : "<^- msg('https://intranet.ec.gc.ca/default.asp?lang=en&n=F7CAD023-1') ^>",
        "placeholder" : "<^- msg('Search ECCC intranet') ^>",
        "method" : "get",
        "hiddenInput" : [{ "name" : "lang", "id" : "lang", "value" : "<^- msg('en') ^>"}, { "name" : "n", "id" : "n", "value" : "F7CAD023-1"}, { "name" : "xsl", "id" : "xsl", "value" : "idolsearchguirenderer,result"}, { "name" : "xml", "id" : "xml", "value" : "F7CAD023-E332-4264-9BE3-0D07260E64CC"}, { "name" : "searchoffset", "id" : "searchoffset", "value" : "1"}, { "name" : "searchfunction", "id" : "searchfunction", "value" : "basicsearch"}, { "name" : "language", "id" : "language", "value" : "<^- msg('en') ^>"}]
    }]
} else if (pr.subTheme === 'esdc' || pr.subTheme === 'labour') {
    pr.GCToolsModal = true;
    if (pr.intranetTitle == null) pr.intranetTitle = [{
        "href": "<^- msg('https://esdc.prv/en/index.shtml') ^>",
        "text": " Intranet",
        "boldText" : (pr.subTheme === 'esdc')? "<^- msg('ESDC/SC') ^>" : "<^- msg('Labour Program') ^>",
        "acronym": "<^- msg('Employment and Social Development Canada / Service Canada') ^>"
    }];
    if (pr.customSearch == null) pr.customSearch =[{
        "action" : "https://esdc.prv/cgi-bin/rhdcc-hrsdc/recherche-search.aspx",
        "placeholder" : "<^- msg('Search the Intranet') ^>",
        "method" : "get",
        "hiddenInput" : [{ "name" : "k", "value" : "<^- msg('en') ^>"}, { "name" : "l", "value" : "<^- msg('eng') ^>"}, { "name" : "chk2", "value" : "True"}]
    }]
} -%>
<nav aria-label="<^- msg('Skip Links') ^>">
    <ul id="wb-tphp">
        <li class="wb-slc"><a class="wb-sl" href="#wb-cont"><^- msg('Skip to main content') ^></a></li>
        <li class="wb-slc visible-xs visible-sm visible-md visible-lg"><a class="wb-sl" href="#wb-info"><^- msg('Skip to "About this site"') ^></a></li>
        <%_ if (pr.topSecMenu == true) { -%>
            <li class="wb-slc visible-md visible-lg"><a class="wb-sl" href="#wb-sec"><^- msg('Skip to section menu') ^></a></li>
        <%_ } -%>
    </ul>
</nav>
<header role="banner" aria-label="<^- msg('Intranet Banner') ^>">
    <div id="wb-bnr">
        <div id="app-brand">
            <div class="container">
                <div class="row">
                    <section class="<%- (pr.intranetTitle != null || pr.subTheme != null)? 'col-lg-6 col-md-6': 'col-lg-2 col-md-3' %> col-sm-9 col-xs-8">
                        <div class="app-name<%- (pr.intranetTitle != null)? ' app-name-lg': '' %>">
                            <%_ if (pr.intranetTitle != null && pr.intranetTitle.length > 0) {
                                const item=pr.intranetTitle[0]; -%>
                                <a href="<%- (item.href != null)? item.href: '<^- msg('https://intranet.ec.gc.ca/default.asp?lang=En') ^>' %>">
                                    <span>
                                        <%_ if (item.acronym != null) { -%>
                                            <%_ -%><abbr title="<%= item.acronym %>"><%_ -%>
                                        <%_ } -%>
                                        <%_ -%><span class="bold-gc"><%= (item.boldText != null)? item.boldText: '<^- msg('GC') ^>' %></span><%_ -%>
                                        <%= (item.text != null)? item.text: '<^- msg('intranet') ^>' -%>
                                        <%_ if (item.acronym != null) { -%>
                                            <%_ -%></abbr><%_ -%>
                                        <%_ } -%>
                                    </span>
                                </a>
                            <%_ } else { -%>
                                <a href="<^- msg('https://intranet.canada.ca/index-eng.asp') ^>"><span><^- msg('<span class="bold-gc">GC</span> intranet') ^></span></a>
                            <%_ } -%>
                        </div>
                    </section>
                    <%_ if (pr.GCToolsModal == true) { -%>
                        <section id="gctoolsSection" class="<%- (pr.intranetTitle != null)? 'col-lg-2': 'col-lg-6' %><%- (pr.search == false)? ' col-md-offset-3': ''%> col-md-1 hidden-sm hidden-xs text-right">
                            <h2 class="wb-inv"><^- msg('GCTools links') ^></h2>
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="list-inline margin-bottom-none gcbarlng">
                                        <li><a class="wb-lbx" href="#gctools"><^- msg('<span class="bold-gc">GC</span>Tools') ^></a></li>
                                    </ul>
                                </div>
                            </div>
                            <section id="gctools" class="mfp-hide modal-dialog modal-content overlay-def">
                                <header class="modal-header" aria-labelledby="cdts-gcToolsModal">
                                    <h2 class="modal-title" id="cdts-gcToolsModal"><^- msg('<span class="bold-gc">GC</span>Tools') ^></h2>
                                </header>
                                <div class="modal-body">
                                    <ul class="list-unstyled lst-spcd">
                                        <li><a href="<^- msg('https://iservice.prv/eng/imit/catalogue/gcxchange/index.shtml') ^>" class="<^- msg('GCTBannerOnclick-eng') ^>"><^- msg('<span class="bold-gc">GC</span>Xchange') ^></a></li>
                                        <li><a href="<^- msg('https://gcconnex.gc.ca/splash/') ^>" class="<^- msg('GCTBannerOnclick-eng') ^>"><^- msg('<span class="bold-gc">GC</span>connex') ^></a></li>
                                        <li><a href="<^- msg('https://www.gcpedia.gc.ca/wiki/?setlang=en') ^>" class="<^- msg('GCTBannerOnclick-eng') ^>"><^- msg('<span class="bold-gc">GC</span>pedia') ^></a></li>
                                        <li><a href="<^- msg('https://gcdirectory-gcannuaire.gc.ca/en/GCD/?pgid=002') ^>" class="<^- msg('GCTBannerOnclick-eng') ^>"><^- msg('<span class="bold-gc">GC</span>directory') ^></a></li>
                                        <li><a href="<^- msg('https://gccollab.ca/splash/') ^>" class="<^- msg('GCTBannerOnclick-eng') ^>"><^- msg('<span class="bold-gc">GC</span>collab') ^></a></li>
                                        <li><a href="<^- msg('https://intranet.canada.ca/index-eng.asp') ^>" class="<^- msg('GCTBannerOnclick-eng') ^>"><^- msg('<span class="bold-gc">GC</span>intranet') ^></a></li>
                                    </ul>
                                </div>
                            </section>
                        </section>
                    <%_ } else if (pr.intranetTitle == null) { /* (...== null) is intentional, not (...!= null) */-%>
                        <section id="wb-gctools" class="col-lg-6 visible-lg">
                            <div class="pull-left tool-link">
                                <a href="<^- msg('https://gcconnex.gc.ca/splash/') ^>" class="<^- msg('GCTBannerOnclick-eng') ^>">
                                <^- msg('<span class="bold-gc">GC</span>connex') ^></a>
                            </div>
                            <div class="pull-left tool-link">
                                <a href="<^- msg('https://www.gcpedia.gc.ca/wiki/?setlang=en') ^>" class="<^- msg('GCTBannerOnclick-eng') ^>">
                                <^- msg('<span class="bold-gc">GC</span>pedia') ^></a>
                            </div>
                            <div class="pull-left tool-link">
                                <a href="<^- msg('https://gcdirectory-gcannuaire.gc.ca/en/GCD/?pgid=002') ^>" class="<^- msg('GCTBannerOnclick-eng') ^>">
                                <^- msg('<span class="bold-gc">GC</span>directory') ^></a>
                            </div>
                            <div class="pull-left tool-link">
                                <a href="<^- msg('https://gccollab.ca/splash/') ^>" class="<^- msg('GCTBannerOnclick-eng') ^>">
                                <^- msg('<span class="bold-gc">GC</span>collab') ^></a>
                            </div>
                        </section>
                    <%_ } -%>
                    <%_ if (pr.lngLinks != null) { -%>
                        <section id="wb-lng" class="<%- (pr.intranetTitle != null && pr.GCToolsModal != true)? 'mrgn-bttm-md col-md-offset-1 col-lg-offset-2 ': '' %>col-md-1 hidden-sm hidden-xs text-right <%- (pr.search == false)? 'lang-no-search': (pr.subTheme == 'esdc' || pr.GCToolsModal == true)? '': 'lang-with-search'%>">
                            <h2 class="wb-inv"><^- msg('Language selection') ^></h2>
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="list-inline margin-bottom-none gcbarlng">
                                        <%_ for (var linkIndex=0; linkIndex<pr.lngLinks.length; linkIndex++) {
                                            const link=pr.lngLinks[linkIndex];-%>
                                            <li><a hreflang="<%= link.lang %>" lang="<%= link.lang %>" href="<%- link.href %>"><%= link.text %></a></li>
                                        <%_ } -%>
                                    </ul>
                                </div>
                            </div>
                        </section>
                    <%_ } -%>
                    <%_ if (pr.search != false) { -%>
                        <section id="wb-srch" class="col-lg-3 col-md-4 hidden-sm hidden-xs search-md">
                            <h2><^- msg('Search') ^></h2>
                            <%_ if (pr.customSearch != null && pr.customSearch.length > 0) {
                                const item=pr.customSearch[0]; -%>
                                <form action="<%- (item.action != null)? item.action: '<^- msg('https://intranet.canada.ca/search-recherche/query-recherche-eng.aspx') ^>' %>" method="<%= (item.method != null)? item.method: 'get' %>" name="<%= (item.name != null)? item.name: 'cse-search-box'%>" role="search" class="form-inline">
                                    <div class="form-group">
                                        <label for="<%= (item.id != null)? item.id: 'wb-srch-q' %>" class="wb-inv"><%= item.placeholder != null? item.placeholder: '<^- msg('Search GCintranet') ^>' %></label>
                                        <input type="text" class="wb-srch-q form-control pull-right" id="<%= (item.id != null)? item.id: 'wb-srch-q' %>" name="<%= (item.name != null)? item.name: 'q' %>"  value="" size="21" maxlength="150" placeholder="<%= item.placeholder != null? item.placeholder: '<^- msg('Search GCintranet') ^>' %>">
                                        <%_ if (item.hiddenInput != null) { -%>
                                            <%_ for (var inputIndex=0; inputIndex<item.hiddenInput.length; inputIndex++) {
                                                const input=item.hiddenInput[inputIndex]; -%>
                                                <input type="hidden" name="<%= input.name %>" value="<%= input.value %>">
                                            <%_ } -%>
                                        <%_ } else { -%>
                                            <input type="hidden" name="a" value="s">
                                            <input type="hidden" name="s" value="1">
                                            <input type="hidden" name="chk2" value="True">
                                        <%_ } -%>
                                    </div>
                                    <div class="form-group submit">&nbsp;
                                        <button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub"><span class="glyphicon-search glyphicon"></span><span class="wb-inv"><^- msg('Search') ^></span></button>
                                    </div>
                                </form>
                            <%_ } else { -%>
                                <form action="<^- msg('https://intranet.canada.ca/search-recherche/query-recherche-eng.aspx') ^>" method="get" name="cse-search-box" role="search" class="form-inline">
                                    <div class="form-group">
                                        <label for="wb-srch-q" class="wb-inv"><^- msg('Search GCintranet') ^></label>
                                        <input type="text" class="wb-srch-q form-control pull-right" id="wb-srch-q" name="q"  value="" size="21" maxlength="150" placeholder="<^- msg('Search GCintranet') ^>">
                                        <input type="hidden" name="a" value="s">
                                        <input type="hidden" name="s" value="1">
                                        <input type="hidden" name="chk2" value="True">
                                    </div>
                                    <div class="form-group submit">&nbsp;
                                        <button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub"><span class="glyphicon-search glyphicon"></span><span class="wb-inv"><^- msg('Search') ^></span></button>
                                    </div>
                                </form>
                            <%_ } -%>
                        </section>
                    <%_ } -%>
                    <section id="wb-glb-mn" class="wb-mb-links col-xs-4 col-sm-3 visible-sm visible-xs">
                        <%_ var pluralSuffix = (pr.topSecMenu != null)? 's': ''; -%>
                        <h2><%_ if (pr.search == false) { -%><^- msg('Menu') ^><%- pluralSuffix %><%_ } else { -%><^- msg('Search and menu') ^><%- pluralSuffix %><%_ } -%></h2>
                        <ul class="list-inline text-right chvrn">
                            <li><a href="#mb-pnl" title="<%_ if (pr.search == false) { -%><^- msg('Menu') ^><%- pluralSuffix %><%_ } else { -%><^- msg('Search and menu') ^><%- pluralSuffix %><%_ } -%>" aria-controls="mb-pnl" class="overlay-lnk" role="button">
                                <%_ if (pr.search != false) { -%><span class="glyphicon glyphicon-search"><%_ } -%>
                                <span class="glyphicon glyphicon-th-list">
                                    <span class="wb-inv"><%_ if (pr.search == false) { -%><^- msg('Menu') ^><%- pluralSuffix %><%_ } else { -%><^- msg('Search and menu') ^><%- pluralSuffix %><%_ } -%></span>
                                </span>
                                <%_ if (pr.search != false) { -%></span><%_ } -%>
                            </a></li>
                        </ul>
                        <div id="mb-pnl"></div>
                    </section>
                </div>
                <%_ if (pr.GCToolsModal != true) { -%>
                    <div id="tools-sm" class="row<%- (pr.intranetTitle != null)? '': ' visible-md' %>">
                        <section id="tool-container-sm" class="col-md-12 col-sm-12">
                            <div class="pull-left tool-link"><a href="<^- msg('https://gcconnex.gc.ca/splash/') ^>" class="<^- msg('GCTBannerOnclick-eng') ^>"><^- msg('<span class="bold-gc">GC</span>connex') ^></a></div>
                            <div class="pull-left tool-link"><a href="<^- msg('https://www.gcpedia.gc.ca/wiki/?setlang=en') ^>" class="<^- msg('GCTBannerOnclick-eng') ^>"><^- msg('<span class="bold-gc">GC</span>pedia') ^></a></div>
                            <div class="pull-left tool-link"><a href="<^- msg('https://gcdirectory-gcannuaire.gc.ca/en/GCD/?pgid=002') ^>" class="<^- msg('GCTBannerOnclick-eng') ^>"><^- msg('<span class="bold-gc">GC</span>directory') ^></a></div>
                            <div class="pull-left tool-link"><a href="<^- msg('https://gccollab.ca/splash/') ^>" class="<^- msg('GCTBannerOnclick-eng') ^>"><^- msg('<span class="bold-gc">GC</span>collab') ^></a></div>
                        </section>
                    </div>
                <%_ } -%>
            </div>
        </div>
    </div>
    <%_ if (pr.siteMenu != false) { -%>
        <%_ if (pr.subTheme == 'esdc' || pr.subTheme == 'labour') { -%>
            <nav role="navigation" id="wb-sm" data-wb-ajax='{"url": "<%- (pr.menuPath != null)? pr.menuPath: '/app/cls/WET/global/<^- msg('esdcmenu-eng.html') ^>' %>", "type": "replace", "nocache": true }' data-trgt="mb-pnl" class="wb-menu visible-md visible-lg" typeof="SiteNavigationElement" aria-labelled="cdts-topicsMenu">
                <div class="container nvbar">
                    <h2 id="cdts-topicsMenu"><^- msg('Topics menu') ^></h2>
                    <div class="row">
                        <ul class="list-inline menu">
                            <%_ if (pr.hidePlaceholderMenu == true) { -%>
                                <li><a>&nbsp;</a></li>
                            <%_ } else { -%>
                                <li><a href="<^- msg('https://esdc.prv/en/department/index.shtml') ^>"><^- msg('Our Department') ^></a></li>
                                <li><a href="<^- msg('https://esdc.prv/en/branches_regions/index.shtml') ^>"><^- msg('Branches and Regions') ^></a></li>
                                <li><a href="<^- msg('https://iservice.prv/eng/index.shtml') ^>"><^- msg('iService') ^></a></li>
                                <li><a href="<^- msg('https://esdc.prv/en/work_tools/index.shtml') ^>"><^- msg('Work Tools') ^></a></li>
                                <li><a href="<^- msg('https://esdc.prv/en/quick-links/index.shtml') ^>"><^- msg('Quick Links') ^></a></li>
                            <%_ } -%>
                        </ul>
                    </div>
                </div>
            </nav>
        <%_ } else if (pr.subTheme == 'eccc') { -%>
            <%# Todo: Change with eccc Menu -%>
            <nav role="navigation" id="wb-sm" data-wb-ajax='{"url": "<%- (pr.menuPath != null)? pr.menuPath: wet.builder.environment(pr.cdnEnv) + 'cdts/ajax/<^- msg('sitemenu-eng.html') ^>' %>", "type": "replace", "nocache": true }' data-trgt="mb-pnl" class="wb-menu visible-md visible-lg" typeof="SiteNavigationElement" aria-labelled="cdts-topicsMenu">
                <div class="container nvbar">
                    <h2 id="cdts-topicsMenu"><^- msg('Topics menu') ^></h2>
                    <div class="row">
                        <ul class="list-inline menu">
                            <%_ if (pr.hidePlaceholderMenu == true) { -%>
                                <li><a>&nbsp;</a></li>
                            <%_ } else { -%>
                                <li><a href="#"><^- msg('About ECCC') ^></a></li>
                                <li><a href="#"><^- msg('Branches') ^></a></li>
                                <li><a href="#"><^- msg('Services') ^></a></li>
                                <li><a href="#"><^- msg('Tools and References') ^></a></li>
                                <li><a href="#"><^- msg('Resources') ^></a></li>
                                <li><a href="#"><^- msg('Forms') ^></a></li>
                                <li><a href="#"><^- msg("DMs' Corner") ^></a></li>
                            <%_ } -%>
                        </ul>
                    </div>
                </div>
            </nav>
        <%_ } else { -%>
            <nav role="navigation" id="wb-sm" data-ajax-replace="<%- wet.builder.environment(pr.cdnEnv) %>cdts/ajax/<^- msg('sitemenu-eng.html') ^>" data-trgt="mb-pnl" class="wb-menu visible-md visible-lg" typeof="SiteNavigationElement" aria-labelled="cdts-topicsMenu">
                <div class="container nvbar">
                    <h2 id="cdts-topicsMenu"><^- msg('Topics menu') ^></h2>
                    <div class="row">
                        <ul class="list-inline menu">
                            <li><a href="<^- msg('https://intranet.canada.ca/psc-fsc/index-eng.asp') ^>"><^- msg('News') ^></a></li>
                            <li><a href="<^- msg('https://intranet.canada.ca/hr-rh/index-eng.asp') ^>"><^- msg('Human resources') ^></a></li>
                            <li><a href="<^- msg('https://intranet.canada.ca/cdl-dca/index-eng.asp') ^>"><^- msg('Career development and learning') ^></a></li>
                            <li><a href="<^- msg('https://intranet.canada.ca/wg-tg/index-eng.asp') ^>"><^- msg('Services and tools') ^></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        <%_ } -%>
    <%_ } -%>
    <%_ if (pr.breadcrumbs != false) { -%>
        <nav role="navigation" id="wb-bc" property="breadcrumb" aria-labelledby="cdts-breadcrumbPosition">
            <h2 id="cdts-breadcrumbPosition"><^- msg('You are here:') ^></h2>
            <div class="container">
                <ol class="breadcrumb">
                    <%_ if (pr.breadcrumbs != null) { -%>
                        <%_ for (var breadcrumbIndex=0; breadcrumbIndex<pr.breadcrumbs.length; breadcrumbIndex++) {
                            const item=pr.breadcrumbs[breadcrumbIndex]; -%>
                            <li><%_ if (item.acronym != null) { -%><abbr title="<%= item.acronym %>"><%_ } -%><%_ if (item.href != null) { -%><a href="<%- item.href %>"><%_ } -%><%= item.title %><%_ if (item.href != null) { -%></a><%_ } -%><%_ if (item.acronym != null) { -%></abbr><%_ } -%></li>
                        <%_ } -%>
                    <%_ } else { /* breadcrumbs IS null/undefined */ -%>
                        <li><a href="<^- msg('https://intranet.canada.ca/index-eng.asp') ^>"><^- msg('Home') ^></a></li>
                    <%_ } -%>
                </ol>
            </div>
        </nav>
    <%_ } -%>
</header>
<%_ if (pr.showPreContent != false) { -%>
<%_ } -%>
