<%# **
 * This is all of the references to be made before existing page content.
 * @param? exitSecureSite The exitScript is defined through an object.
 * @param? exitScript If set to true, loads a script that alerts users they are leaving a secure site.
 * @param? displayModal If set to true will display modal otherwise skip to exitURL.
 * @param? exitURL The URL where the users are redirected if they continue.
 * @param? msgBoxHeader The message box title.
 * @param? exitMsg The message to display to the user.
 * @param? cancelMsg Text for Cancel Button
 * @param? yesMsg Text for yes Button
 * @param? exitDomains Domains to not check for secure exit.
 * @param? targetWarning A warning to display to the user that the link will open in a new window
 * @param? displayModalForNewWindow If set to true, will not display modal for links that open in new window
 * @param? jqueryEnv Used to determine location of jQuery files (local / external).
 * @param? webAnalytics Used to determine inclusion of current analytics code.
 * @param? isApplication Used to determine if this will use the application templates (true/false).
-%>
<!--[if gte IE 9 | !IE ]><!-->
<script src="<%- (pr.jqueryEnv=='external')? 'https://ajax.googleapis.com/ajax/libs/': wet.builder.environment(pr.cdnEnv) + 'wet-boew/js/' %>jquery/2.2.4/jquery.min.js"></script>
<script src="<%- wet.builder.environment(pr.cdnEnv) %>wet-boew/js/wet-boew.min.js"></script>
<!--<![endif]-->
<!--[if lt IE 9]>
<script src="<%- wet.builder.environment(pr.cdnEnv) %>wet-boew/js/ie8-wet-boew2.min.js"></script>
<![endif]-->
<script src="<%- wet.builder.environment(pr.cdnEnv) %>wet-boew/js/theme.min.js"></script>
<%_ if (pr.exitSecureSite != null) { -%>
    <%_ if (pr.exitSecureSite.exitScript == true) { -%>
        <%# This is a placeholder link to trigger the WET exitscript intialization in the event the no external link is present on the page -%>
        <a href="#" id="cdts-exitscript-placeholder-link" style="display: none" aria-hidden="true" class="wb-exitscript">Exit Link</a>
        <script data-id="exitScript">cdtsApplyExitScriptToLinks("<%=pr.exitSecureSite.displayModal%>", "<%-pr.exitSecureSite.exitURL%>", "<%=pr.exitSecureSite.exitDomains%>", "<%=pr.exitSecureSite.exitMsg%>", "<%=pr.exitSecureSite.yesMsg%>", "<%=pr.exitSecureSite.cancelMsg%>", "<%=pr.exitSecureSite.msgBoxHeader%>", "<%=pr.exitSecureSite.targetWarning%>", "<%=pr.exitSecureSite.displayModalForNewWindow%>");</script>
    <%_ } -%>
<%_ } else if (pr.exitScript == true) { -%>
    <%# This is only for backwards compatibility where a user implements exitscript using parameters instead of an object. -%>
    <a href="#" id="cdts-exitscript-placeholder-link" style="display: none" aria-hidden="true" class="wb-exitscript">Exit Link</a>
    <script data-id="exitScript">cdtsApplyExitScriptToLinks("<%=pr.displayModal != null? pr.displayModal: 'undefined'%>", "<%-pr.exitURL != null? pr.exitURL: 'undefined'%>", "<%=pr.exitDomains != null? pr.exitDomains: 'undefined'%>", "<%=pr.exitMsg != null? pr.exitMsg: 'undefined'%>", "<%=pr.yesMsg != null? pr.yesMsg: 'undefined'%>", "<%=pr.cancelMsg != null? pr.cancelMsg: 'undefined'%>", "<%=pr.msgBoxHeader != null? pr.msgBoxHeader: 'undefined'%>", "<%=pr.targetWarning != null? pr.targetWarning: 'undefined'%>", "<%=pr.displayModalForNewWindow != null? pr.displayModalForNewWindow: 'undefined'%>");</script>
<%_ } -%>
<%_ if (pr.isApplication == true) { -%>
    <script src="<%- wet.builder.environment(pr.cdnEnv) %>cdts/cdtscustom.js"></script>
<%_ } -%>
<%_ if (pr.webAnalytics != null) { -%>
    <script>_satellite.pageBottom();</script>
<%_ } -%>
